.error {
    margin: 2rem;
}

.success {
    color: #333333;
    background-color: #E5EDFF;
    font-size: 1rem;
    border: 1px solid;
    margin: 2rem;
    padding: 2rem 2rem 1rem 2rem;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 8px;
}

#shorten_btn {
    color: #333333;
    background-color: #33FFC2;
    border-radius: 8px;
    font-size: 1.25rem;
    padding: .5rem;
}

#urlinput {
    color: #333333;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: .3rem;
}

#urlinput::placeholder {
    color: #333333;
    font-size: 1.25rem;
    padding: 0rem 0rem .5rem 1rem;
}

.noborder {
    border: none;
}

.copy {
    border: none;
    color: #333333;
    background-color: #E5EDFF;
    font-size: 1.5rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 8px;
    text-align: center;
}

.copy:hover{
    color: grey;
}
